<!-- email_template.html.twig -->

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Votre candidature à Medical Match</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            line-height: 1.6;
        }

        header {
            background-color: #3498db;
            color: white;
            padding: 20px;
            text-align: center;
        }

        main {
            padding: 20px;
        }

        footer {
            padding: 10px;
            text-align: center;
        }
    </style>
</head>
<body>

    <header>
        <h1>Medical Match</h1>
        <p>Revolutionnant le placement Médicale Pour Un Service De Santé Meilleur</p>

    </header>

    <main>
            <p>Bienvenue , {{name}}</p>

            <p align="center" font-size="30px">Vous Postuler à : {{subject}}</p>

        <p>Merci pour votre candidature sur Medical Match ! Nous avons bien reçu votre dossier et nous l'examinerons attentivement.</p>

        <p>Nous comprenons à quel point votre carrière est importante, et nous nous engageons à vous offrir les meilleures opportunités disponibles.</p>

        <p>Notre équipe examinera votre candidature dans les plus brefs délais. Si votre profil correspond à l'une de nos offres, nous vous contacterons pour discuter des prochaines étapes du processus de recrutement.</p>

        <p>Restez à l'écoute ! En attendant, n'hésitez pas à consulter nos dernières offres sur notre site.</p>
        Ceci est un email automatique, merci de ne pas répondre.
    </main>

    <footer>
   
                      <table width="100%" align="center" cellpadding="0" cellspacing="0" border="0">
                        
                        <tr>
                          <td height="30" style="height: 30px; line-height:30px;">      <img src="cid:footer-signature">



</td>
 <td height="30" style="height: 30px; line-height:30px;">     
  <tr> <p>L'équipe Medical Match</p></tr>
     <tr>   <p>Contactez-nous à contact@medmatch.fr</p></tr>
   <tr>     <p>Suivez-nous sur <a href="https://twitter.com/medicalmatch">Twitter</a></p></tr>
</p>
</td>

                        </tr> 
                        <tr>
                                            <td align="center" valign="top" style="font-family: Arial, sans-serif; font-size: 12px; mso-line-height-rule: exactly; line-height: 18px; font-weight: 400;color: #a1b4c4;">Ceci est un email automatique, merci de ne pas répondre.</td>
 </tr>
                      </table>

    </footer>

</body>
</html>
